.footer {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: rgb(102, 102, 102);
  bottom: 0;
  border-top: 1px solid rgba(64, 83, 93, 0.2);
  background-color: #eceff1;
  background-color: #2d2d2d;
}

  .footer__text {
    margin: 0 auto;
    padding: 15px;
    color: white;
    font-style: italic;
  }

  .footer__link {
    color: white;
  }
  .footer__link:hover,
  .footer__link:focus {
    color: white;
  }